/* PAGINA PREGUNTAS FRECUENTES */
/* --------------------------------------------------------------------*/
#preguntas {
  max-width: 75dvw;
  margin: auto;
  .content {
    width: 90%;
    padding: 10px;
    text-align: center;
    letter-spacing: 1px;
  }
}

#preguntas h3,
.content {
  margin-left: 10px;
}

#carouselManicuria {
  max-width: 75dvw;
  margin: 10px auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  img {
    max-height: 500px;
    object-fit: cover;
  }
  .carousel-item {
    &:nth-child(2) {
      filter: grayscale(15%);
    }
    &:last-child {
      filter: grayscale(40%);
    }
  }
}
