@use 'media';

h2 {
    font-weight: bold;
  }
  
section h3 {
    text-decoration: underline;
    color: #860474;
    font-family: "Space Mono", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin-top: 25px;
  }